<!-- FEEDBACK FORM using DIV -->

<html>
<body>

    <div>
        Name:
        <input type="text" name="name" onchange="storeNameData()" />


        Age:
        <input type="text" name="age" onchange="storeAgeData()" />

         <button type="submit" onclick="getAllFielddata()">Submit</button>
    </div>

</body>
</html>

<!-- FEEDBACK FORM using FORM -->

<html>
<body>
    <form onsubmit="">
            Name:
            <input type="text" name="name" onchange="storeNameData()" />


            Age:
            <input type="text" name="age" onchange="storeAgeData()" />
             

            <button type="submit">Submit</button>
       
    </form>

</body>
</html>
