body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mt-10{margin-top: 10px;}.mt-20{margin-top: 20px;}
.container{padding: 30px;}.d-block{display: block;}

.concept{
  margin-bottom: -40px;
}
.props{
  border: 4px solid #000;
  margin-top: 50px;
  padding: 10px;
  width: 25%;
  text-align: center;
}

.child-data{
  border: 2px solid red;
  padding: 10px;
  margin: 20px;
}