body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mt-10{margin-top: 10px;}.mt-20{margin-top: 20px;}.title{margin-bottom: 20px;}
.container, .Container-2{padding: 30px;display: flex; align-items:baseline;gap: 15px;}.d-block{display: block;}

.concept{
  margin-bottom: -40px;
}
.props{
  border: 4px solid #000;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
}

.child-data{
  border: 2px solid red;
  padding: 10px;
  margin: 20px;
}

.props-drilling{
   border: 3px solid grey;
   margin-top: 20px;
   padding: 10px;
}

h2, h4{padding: 0;margin: 0;}

.toggle {
  margin-top: 15px;
}
.toggle button, .addBtn{
  cursor: pointer;
  width: 100%;
  height: 36px;
  border-radius: 10px;
  font-size: 16px;
}
.adding-sum, .reversing-string, .counter, .capture-input{border: 2px solid blue;padding: 20px;}
.addBtn{margin: 10px 0;}